@page "/"


@using TaskScribby.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using TaskScribby.Areas.Identity.Services;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject ProjectService ProjectService
@inject IJSRuntime jsRuntime
@inject DarkMode DarkMode



<PageTitle>Index</PageTitle>

<head>
    <link href="/css/colors.css" rel="stylesheet" />
    @if (DarkMode.isDarkMode)
    {
        <link href="/css/colorsDark.css" rel="stylesheet" />
    }
    else
    {
        <link href="/css/colorsLight.css" rel="stylesheet" />
    }
</head>

@if (authenticated)
{
    @if (user != null)
    {
        <div class="page font-normal main-background">
        <div class="wrapper">
            <header class="bottom-border">
                <p>@user.Email</p>
                <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="button-logout "> <a class="hoverable font-normal"> Log out </a></button>
                </form>   
            </header>
               

            <div class="content">
                <div class="links">
                        @if (DarkMode.isDarkMode)
                        {
                            <span class="hoverable font-normal oi oi-moon" @onclick="() => ToggleDarkMode() "></span>
                        }
                        else
                        {
                            <span class="hoverable font-normal oi oi-sun" @onclick="() => ToggleDarkMode() "></span>
                        }
                        
                    <a class="hoverable font-normal" href="/" style="color: #E83671">Projects</a>
                    <a class="hoverable font-normal" href="#">Tasks</a>
                    <a class="hoverable font-normal" href="#">Notes</a>
                        @if (!IsSmall && isProjectListVisible)
                    {
                        <div class="button-div">

                                <button class="new-proyect-pc highlight" @onclick="() =>showNewProject()">New Project</button>
                                

                        </div>
                    }

                   
                </div>

                @if (isProjectListVisible)
                {
                    <div class="projects-list">
                            <ProjectsListGeneral User=@user darkMode=@DarkMode.isDarkMode>
                        </ProjectsListGeneral>
                    </div>

                        @if (IsSmall)
                        {
                            <div class="button-div">

                                <button class="new-proyect-mobile highlight" @onclick="() =>showNewProject()">New Project + </button>

                            </div>
                        }
                }

                @if (isNewProjectVisible)
                {
                        <div class= "form-div" >
                            <form class="form-style shadow-always">
                            <div class="form-group-div">
                            <div class="form-group">
                                        <label for="project-name"> <span class="back-button hoverable" @onclick="() => showProjectList()"> &lt- </span><br> Name of the Project:</label><br>
                                <input type="text" class="form-control font-normal" id="project-name" @bind-value="@ProjectName"><br>
                            </div>
                            <div class="form-group">
                                <label for="project-desc">Description:</label><br>
                                        <textarea class="form-control desc font-normal" id="project-desc" @oninput="@HandleDescriptionOnChange"> @ProjectDescription </textarea><br>
                            </div>
                            <div class="form-group">
                                <label for="project-perc">Percentage:</label>
                                        <input type="number" class="form-control font-normal" id="project-perc" name="project-perc" min="0" max="100" required @bind-value="@ProjectPercentage"><br>
                            </div></div>
                            <div class="form-group-button">
                                <input type="submit" class="btn-create highlight" value="Create" @onclick="() =>createProject()">
                                
                            </div>
                        </form>
                        </div>
                }

              

               
            </div>

        </div>
        </div>
    }
    
}
else
{
    //open login page
    NavigationManager.NavigateTo("/Identity/Account/Login");

}



<MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="IsSmall" />

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    bool authenticated = false;


    ApplicationUser user;

    bool IsSmall = false;

    bool isProjectListVisible = true;
    bool isNewProjectVisible = false;


    protected override async Task OnInitializedAsync()
    {
        var currentUser = (await authenticationStateTask).User;

        if (currentUser.Identity.IsAuthenticated)
        {
            authenticated = true;
            user = await UserManager.GetUserAsync(currentUser);


        }

    }

    void showNewProject()
    {
        isProjectListVisible = false;
        isNewProjectVisible = true;
    }

    void showProjectList()
    {
        isProjectListVisible = true;
        isNewProjectVisible = false;
    }

    string ProjectName { get; set; } = "";
    string ProjectDescription { get; set; } = "";
    double ProjectPercentage { get; set; }

    private void HandleDescriptionOnChange(ChangeEventArgs e)
    {
        if (e.Value == null)
        {
            return;
        }
        ProjectDescription = e.Value.ToString();


    }

    void createProject()
    {
        if(ProjectName == "")
        {
            jsRuntime.InvokeVoidAsync("alert", "You Cannot Create a Project Without a Name!!");
            return;
        }

        if (ProjectDescription == "")
        {
            jsRuntime.InvokeVoidAsync("alert", "You Cannot Create a Project Without a Description!!");
            return;
        }

        if (ProjectPercentage < 0 || ProjectPercentage > 100)
        {
            jsRuntime.InvokeVoidAsync("alert", "Percentage should be between 0 and 100!!");
            return;
        }

        var p = new Project(ProjectName, ProjectDescription, ProjectPercentage);
        ProjectService.AddProject(p, user);

        clearForm();

        showProjectList();
    }

    void clearForm()
    {
        ProjectName = "";
        ProjectDescription = "";
        ProjectPercentage = 0;
    }

    void logOut()
    {

        //AuthenticationManager.SignOut();
    }

    void ToggleDarkMode()
    {
        DarkMode.isDarkMode = !DarkMode.isDarkMode;
    
    }


}

